[Unit]
Description=Remote SSH Login Service
After=network.target

[Service]
ExecStart=/home/pi/bin/my-awesome-scripts/bash/network/ssh_fw.sh ljishen@piha.soe.ucsc.edu start
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
