# see details from https://www.raspberrypi.org/documentation/linux/usage/systemd.md

[Unit]
Description=Remote SSH Login Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "until host google.com; do sleep 1; done"
ExecStart=/home/pi/bin/my-awesome-scripts/bash/network/ssh_fw/ssh_fw.sh ljishen@piha.soe.ucsc.edu
RemainAfterExit=yes
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target
